<div class="container">
    <ng-container *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </ng-container>
    <!-- búsqueda -->
    <ng-container *ngIf="!isLoading">
        <!-- <div class="search-container">
            <input matInput type="text" placeholder="Search..." [(ngModel)]="search" class="search-input" />
            <button mat-raised-button (click)="goSearch()" class="search-button">Search</button>
            <button mat-raised-button (click)="resetSearch()" class="search-button">Reset</button>
        </div> -->
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <div class="list-container">
            <div *ngFor="let item of listaTransazioni.reverse()" class="transaction-card">
                <div class="transaction-content">
                    <div class="line-container">
                        <div class="line">{{item.voter}} voted {{item.author}}</div>
                        
                        <div class="line">Vote value: {{item.weight / 100}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<style>
    .line {
        color: var(--text-color);
        font-size: 16px;
    }
    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .search-container {
        display: flex;
        width: 80%;
        position: fixed;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

    .search-input:focus {
        outline: none;
    }

    .search-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .search-button:hover {
        transform: scale(1.05);
    }

    .transaction-card {
       
        margin-bottom: 20px;
        width: 100%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .transaction-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    }

    .transaction-content {
        display: flex;
        flex-direction: column;
    }

    .line-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .line {
        color: var(--text-color);
        font-size: 16px;
    }

    mat-spinner {
        margin: 20px;
    }
</style>