<mat-grid-list cols="6" class="grid_list" rowHeight="200px">
    <mat-grid-tile [colspan]="6" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header_special">
                <mat-card-title class="card_title_special">

                    <img src="assets/logo_tra.png" alt="cur8 logo"
                        style="width: 100px; height: 100px; margin-right: 10px;">
                    <img src="assets/steem_traspa_piccola.png" alt="cur8 logo"
                        style="width: 100px; height: 100px; margin-right: 10px;">
                    <span>
                        Welecome to cur8.ern!
                    </span>

                </mat-card-title>
            </mat-card-header><br>
            <mat-card-content class="card_content">
                <span style="font-size: xx-large;"> To start early daily incomes just delegate some STEEM Power in
                    profile section</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Total cur8 STEEM Power</mat-card-title>
            </mat-card-header><br>
            <mat-card-content class="card_content">
                <span style="font-size: xx-large;"> {{totalSteem | reversePadZero}}  SP </span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Total delegators</mat-card-title>
            </mat-card-header><br>
            <mat-card-content class="card_content">
                <span style="font-size: xx-large;"> {{totalDelegators}}</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">ALL TIME PAYOUT</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content class="card_content">
                <span style="font-size: xx-large;"> {{allTimePayOut}}  $</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Voting Power</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content style="display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;">
                <canvas #gaugeCanvasSTEEM width="120" height="120"></canvas>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Last 7 days Payout</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content class="card_content">
                <span style="font-size: xx-large;"> 67 $</span>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">cur8 curation rewards (7 days)</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card_content">

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">cur8 recent operations</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card_content">
                ciao </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">cur8 news</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card_content">
                ciao </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="card">
            <mat-card-header class="card_header">
                <mat-card-title class="card_title">Stay updated on cur8 project , follow our social</mat-card-title>
            </mat-card-header><br>
            <mat-card-content class="card_content">
                <!--telegram discord you tube-->
                <button mat-raised-button>Telegram</button>
                <button mat-raised-button>Discord</button>
                <button mat-raised-button>You Tube</button>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<style>
     img {
        border-radius: 50%;
        background-color: white;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }
  .card_header_special {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

    .card_title_special {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .card_content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }

    .card_header {
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }

    .card_title {
        font-size: 24px;
        font-weight: 500;
        align-items: flex-start;
        justify-content: center;

    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .card {
        width: 100%;
        height: 100%;
    }
</style>