<!-- <div class="container">
    <h2>Welcome to Cur8</h2>

    <p> We’re dedicated to curating the finest authors across platforms like Hive and Steem. 
        Our selection criteria prioritize originality and skill. Through our careful curation, we generate rewards that directly benefit our delegators.</p>
<p class="bold">Use the switch at the top to select your preferred blockchain environment, either Hive or Steem.</p>

    <div class="features">
        <h3>Main Features</h3>
        <ul class="normoUl">
            <li><strong class="bold">Keychain extension</strong>
                We have integrated Keychain to ensure the safest possible interaction with our site for users.
                 By using Steem or Hive Keychain, your wallet's private keys remain secure,
                 providing a safe and convenient login experience.</li>
            <li><strong class="bold">Start Earning:</strong> Delegate your Steem or Hive Power to Cur8 and start earning rewards. 
                Track your earnings and view the total amount of delegated Steem or Hive Power.</li>
            <li> <strong class="bold">Delegation Insights:</strong> See the total number of delegators and the cumulative payouts over time.</li>
            <li> <strong class="bold">Voting Power Status:</strong> Check the available voting power percentage for the Cur8 account,
                 giving you insights into how your delegations are being used.</li>
            <li> <strong class="bold">Manage Your Account:</strong> Easily manage your delegation, convert liquid tokens in voting power, and transfer Steem/Hive or SBD/HBD.</li>
        </ul>
    </div>

    <div class="statistics">
        <h3>Cur8 Dashboard</h3>
        <p>📊 <strong>Cur8 Account Data:</strong> Access detailed information about the Cur8 account on the statistics page:</p>
        <ul>
            <li>Total Hive/Steem Power: View the overall Hive or Steem Power delegated to Cur8.</li>
            <li>Number of Delegators: See how many users are delegating to Cur8.</li>
            <li>Total Payouts: Review the total payouts, including all-time and the last 7 days.</li>
            <li>Voting Power: Monitor the available voting power percentage of Cur8.</li>
            <li>Curation Rewards: Analyze the graph showing Cur8's curation rewards over recent days.</li>
            <li>Recent Votes: Check the latest voting activities by Cur8.</li>
            <li>Best authors: Check the latest posts from the best authors curated by Cur8.</li>
        </ul>
    </div>

    <div class="user-statistics">
        <h3>Your Profile</h3>
        <p>📈 <strong>Manage Your Account:</strong> In the user statistics section, you can:</p>
        <ul>
            <li>Your Cur8 Stats: View your delegation stats and earnings.</li>
            <li>Delegate to Cur8: Easily delegate your Hive/Steem Power.</li>
            <li>Power Up/Power Down: Convert between liquid tokens and voting power.</li>
            <li>Send crypto: Send Hive/Steem or HBD/SBD to others.</li>
            <li>Expiring Delegations: Track delegations that are about to expire.</li>
        </ul>
    </div>
</div>
<br><br><br><br><br> -->
<div class="container">
    <h2>Welcome to Cur8</h2>

    <p> We’re dedicated to curating the finest authors on Steem, our selection criteria prioritize originality and skill. Through our careful curation, we generate rewards that directly benefit our delegators.</p>

    <div class="features">
        <h3>Main Features</h3>
        <ul class="normoUl">
            <li><strong class="bold">Keychain extension</strong>
                We have integrated Keychain to ensure the safest possible interaction with our site for users.
                 By using Steem Keychain, your wallet's private keys remain secure,
                 providing a safe and convenient login experience.</li>
            <li><strong class="bold">Start Earning:</strong> Delegate your Steem Power to Cur8 and start earning rewards. 
                Track your earnings and view the total amount of delegated Steem Power.</li>
            <li> <strong class="bold">Delegation Insights:</strong> See the total number of delegators and the cumulative payouts over time.</li>
            <li> <strong class="bold">Voting Power Status:</strong> Check the available voting power percentage for the Cur8 account,
                 giving you insights into how your delegations are being used.</li>
            <li> <strong class="bold">Manage Your Account:</strong> Easily manage your delegation, convert liquid tokens in voting power, and transfer Steem or SBD.</li>
        </ul>
    </div>

    <div class="statistics">
        <h3>Cur8 Dashboard</h3>
        <p>📊 <strong>Cur8 Account Data:</strong> Access detailed information about the Cur8 account on the statistics page:</p>
        <ul>
            <li>Total Steem Power: View the overall Steem Power delegated to Cur8.</li>
            <li>Number of Delegators: See how many users are delegating to Cur8.</li>
            <li>Total Payouts: Review the total payouts, including all-time and the last 7 days.</li>
            <li>Voting Power: Monitor the available voting power percentage of Cur8.</li>
            <li>Curation Rewards: Analyze the graph showing Cur8's curation rewards over recent days.</li>
            <li>Recent Votes: Check the latest voting activities by Cur8.</li>
            <li>Best authors: Check the latest posts from the best authors curated by Cur8.</li>
        </ul>
    </div>

    <div class="user-statistics">
        <h3>Your Profile</h3>
        <p>📈 <strong>Manage Your Account:</strong> In the user statistics section, you can:</p>
        <ul>
            <li>Your Cur8 Stats: View your delegation stats and earnings.</li>
            <li>Delegate to Cur8: Easily delegate your Steem Power.</li>
            <li>Power Up/Power Down: Convert between liquid tokens and voting power.</li>
            <li>Send crypto: Send Steem or SBD to others.</li>
            <li>Expiring Delegations: Track delegations that are about to expire.</li>
        </ul>
    </div>
</div>
<br><br><br><br><br>
<style>
    .bold {
        font-weight: bold;
        color: black;
    }
    body {
        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        line-height: 1.6;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: auto;
        background: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        padding: 40px;
        transition: transform 0.3s, box-shadow 0.3s;
        color: #333;
    }

    .container:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #0056b3;
    }

    h3 {
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: 20px;
        color: #003d75;
    }

    p {
        font-size: 1.3em;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding-left: 0;
        font-size: 1.3em;
    }

    ul li {
        padding-left: 1.5em;
        text-indent: -1.5em;
    }

    ul li:before {
        content: '✔️';
        margin-right: 10px;
        color: #28a745;
    }
    .normoUl li:before {
        content: '🔹';
        margin-right: 10px;
        color: #28a745;
    }

    strong {
        color: #0056b3;
    }

    @media (max-width: 600px) {
        .container {
            margin-top: 0;
            padding: 20px;
        }

        h2, h3 {
            font-size: 1.5rem;
        }

        p, ul li {
            font-size: 0.875rem;
        }
    }
</style>
