<div class="title_container">
    <h1 class="title">Welcome to cur8</h1>
    <p class="subtitle">The best way to get the most out of your Steem or Hive account</p>
    <!--spiega come usare il sito
        come switchare da un ambiente all'altro
        come usare le funzionalità
        -->
    <p class="subtitle">To get started, select an environment with the switch on the top right</p>

    <p class="subtitle">Then, you can start earning by delegating your Steem or Hive Power</p>
    <p class="subtitle">You can also check your earnings and the total amount of Steem or Hive Power delegated</p>
    <p class="subtitle">You can also check the total amount of delegators and the total amount of payouts</p>
    <p class="subtitle">You can also check your voting power</p>
    <p class="subtitle">You can also check the total amount of payouts</p>

</div>

<style>
    .title_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .title {
        font-size: 2.5em;
        font-weight: bold;
    }

    .subtitle {
        font-size: 1.5em;
        margin-top: 10px;
    }
</style>