<div class="desktop">
  <mat-grid-list [cols]="gridCols" class="grid_list" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="colspanWelcome" [rowspan]="rowspanWelcome">
      <mat-card class="card">
        <mat-card-header class="card_header_special">
          <mat-card-title class="card_title_special">
            <img src="assets/logo_tra.png" alt="cur8 logo" style="
            width: 100px; 
            height: 100px; 
            margin-right: 10px;
            border-radius: 50%;
            background-color: white;
            padding: 5px;
            border: 1px solid rgba(0, 0, 0, 0.12);">
            <img src="assets/hive_.png" alt="hive logo" style="
            width: 100px; height: 
            100px; margin-right: 
            10px;border-radius: 50%;
            background-color: white;
            padding: 5px;
            border: 1px solid rgba(0, 0, 0, 0.12);">
            <span>
              Welecome to cur8.ern! To start early daily incomes just delegate some Hive Power in profile
              section
            </span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalHivePower" [rowspan]="rowspanTotalHivePower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total cur8 Hive Power</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalHive | reversePadZero}} HP</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalDelegators" [rowspan]="rowspanTotalDelegators">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total delegators</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalDelegators}}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanAllTimePayOut" [rowspan]="rowspanAllTimePayOut">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">All time payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{allTimePayOut | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanVotingPower" [rowspan]="rowspanVotingPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Voting Power</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;">
          <canvas #gaugeCanvasHive width="120" height="120"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanLast7DaysPayout" [rowspan]="rowspanLast7DaysPayout">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Last 7 days Payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{days_payout | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCurationRewards" [rowspan]="rowspanCurationRewards">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">cur8 curation rewards (7 days)</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
          <app-bar-chart class="bar-chart"></app-bar-chart>
          <app-bar-chart></app-bar-chart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanSocial" [rowspan]="rowspanSocial">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Stay updated on cur8 project , follow our social</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <!--telegram discord you tube-->
          <button mat-raised-button>Telegram</button>
          <button mat-raised-button>Discord</button>
          <button mat-raised-button>You Tube</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCur8News" [rowspan]="rowspanCur8News">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">cur8 news</mat-card-title>
        </mat-card-header>
        <div class="card_contento">
          @for( item of content; track $index){

          <div class="post">
            <div class="postContainer">
              <div class="post_image">
                <img src="{{item.imageUrl}}" alt="cur8 news" style="width: 100px; height: 100px;">
              </div>
              <div class="post_header">
                <span>{{item.title}}</span>
              </div>
            </div>
          </div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCur8News" [rowspan]="colspanCur8News+1">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Vote</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content_trans">
          <app-transazioni-cur8></app-transazioni-cur8>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
