<div class="desktop">
  <mat-grid-list [cols]="gridCols" class="grid_list" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="colspanWelcome" [rowspan]="rowspanWelcome">
      <mat-card class="card">
        <mat-card-header class="card_header_special">
          <mat-card-title class="card_title_special">
            <img src="assets/logo_tra.png" alt="cur8 logo" style="width: 100px; height: 100px; margin-right: 10px;">
            <img src="assets/hive_.png" alt="hive logo" style="width: 100px; height: 100px; margin-right: 10px;">
            <span>
              Welecome to cur8.ern!
            </span>
          </mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> To start early daily incomes just delegate some Hive Power in profile
            section</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalHivePower" [rowspan]="rowspanTotalHivePower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total cur8 Hive Power</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalHive | reversePadZero}} HP</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalDelegators" [rowspan]="rowspanTotalDelegators">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total delegators</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalDelegators}}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanAllTimePayOut" [rowspan]="rowspanAllTimePayOut">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">All time payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{allTimePayOut | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanVotingPower" [rowspan]="rowspanVotingPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Voting Power</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;">
          <canvas #gaugeCanvasHive width="120" height="120"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanLast7DaysPayout" [rowspan]="rowspanLast7DaysPayout">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Last 7 days Payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{days_payout | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCurationRewards" [rowspan]="rowspanCurationRewards">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">cur8 curation rewards (7 days)</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
          <app-bar-chart style="width: 100%;
          display: flex;
          flex-direction: column;
          align-content: stretch;
          justify-content: space-evenly;
          align-items: center;"></app-bar-chart>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanRecentOperations" [rowspan]="rowspanRecentOperations">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">cur8 recent operations</mat-card-title>
          <!--bottone refresh-->

        </mat-card-header>
        <mat-card-content class="card_content_special">
          <app-transazioni-cur8></app-transazioni-cur8>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCur8News" [rowspan]="rowspanCur8News">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">cur8 news</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content" style="overflow-y: scroll;
        display: flex;
        flex-direction: column;">
          @for( item of content; track $index){
          <mat-card>
            <mat-card-content >
              <div appInterpretaHTML [appInterpretaHTML]="item" class="post"></div>
            </mat-card-content>
          </mat-card>
          <mat-divider></mat-divider>
          
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanSocial" [rowspan]="rowspanSocial">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Stay updated on cur8 project , follow our social</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <!--telegram discord you tube-->
          <button mat-raised-button>Telegram</button>
          <button mat-raised-button>Discord</button>
          <button mat-raised-button>You Tube</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<style>
  .post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    
  }
</style>