mat-label{
    font-size: 1.5em;
    font-weight: 70;

}

.card_special{
    display: flex;
    width: 97%;
    height: 98%;
    overflow: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-size: large;
    border-radius: 3%;

}
.card {
    display: flex;
    width: 97%;
    height: 98%;
    overflow: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: thin;
    font-size: large;
    border-radius: 3%;
    justify-content: space-between  ;
}


.profile_image {
    width: 50vw;
    max-width: 290px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;}

.in_speciale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*tronca il testo*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.refresh {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

.spacer {
    margin-right: auto;
}

.tabloCard {
    display: flex;
    width: 98%;
    height: 98%;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: large;
}

.tablo td,
.tablo th {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px;
}

.tablo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

.mat-elevation-z8a {
    border-collapse: collapse;
    width: 100%;
}

.we_content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    /*il contenuto de essere visibile , completamente ,il teesto va a capo*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.c_lista_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.c_lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;

}

.card_header_special {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.card_speciale {
    display: flex;
    width: 98%;
    height: 98%;
    overflow: auto;
    margin-top: 10px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: hidden;
}

.card_header_speciale {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.speciale {
    display: flex;
    flex-direction: column;
    font-size: large;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 100%;
}

.action {
    margin: 0;
}

.c_actions {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card_header {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.card_tittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*USA UN FONT GIGANTE ,PANTAGRUELICO , ENORME ,NON X-LARGE*/
    font-size: xx-large;
}

.special {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 7%;
    font-size: large;
}

input {
    /*falli belli*/
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
}

.form_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-size: large;
}

.form_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.we {
    margin: 0;
    text-align: left;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
}



.social {
    text-align: center;
    font-size: 1em;
}
.tb{
    font-size: x-large;
    text-align: center;
}



.budget {
    text-align: center;
}

.valore_account {
    text-align: center;
    font-size: 1.4em
}