<div class="container">
    @if(isLoading ){
    <mat-spinner></mat-spinner>
    }
    @if(!isLoading ){
    @for (item of listaTransazioni; track $index) {
    <div class="we">

        <div class="we_content">
            <div class="line_container">

                <div class="line">
                    {{item.voter}} casted a vote 
                </div>

                <div class="line"> to
                    {{item.author}}
                </div>
                <div class="line">Vote value : 
                    {{item.weight/100}}% 
                </div>
            </div>
            <div class="line_container">

                <div class="line">
                    {{item.timestamp | dateFormat}}
                </div>
            </div>
        </div>
    </div>
    <!--cerchiamo in reflection le proprietà dell'oggetto item
        e le stampiamo in un div-->
    }
    }
</div>

<style>
    .line_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .line {
        background-color: black;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;

    }

    .we {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    .we_content {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 100%;

    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: brown;
        width: 100%;
    }

    p {
        margin: 0;
        padding: 0;
    }
</style>