<div class="desktop">
  <mat-grid-list [cols]="gridCols" class="grid_list" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="colspanWelcome" [rowspan]="rowspanWelcome">
      <mat-card class="card">
        <mat-card-header class="card_header_special">
          <mat-card-title class="card_title_special">
            <img src="assets/logo_tra.png" alt="cur8 logo" style="
               width: 100px; 
              height: 100px; 
              margin-right: 10px;
              border-radius: 50%;
              background-color: white;
              padding: 5px;
              border: 1px solid rgba(0, 0, 0, 0.12);">
            <img src="assets/steem_traspa_piccola.png" alt="steem logo" style="
              width: 100px; height: 
              100px; margin-right: 
              10px;border-radius: 50%;
              background-color: white;
              padding: 5px;
              border: 1px solid rgba(0, 0, 0, 0.12);">
            <span>
              Welcome to cur8.earn! To start earning daily income, delegate some Steem Power in the profile section.

            </span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalSteemPower" [rowspan]="rowspanTotalSteemPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total cur8 STEEM power</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalSteem | reversePadZero}} HP</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalDelegators" [rowspan]="rowspanTotalDelegators">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total delegators</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <span> {{totalDelegators}}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanAllTimePayOut" [rowspan]="rowspanAllTimePayOut">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">All time payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{allTimePayOut | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanVotingPower" [rowspan]="rowspanVotingPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Voting power</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;">
          <canvas #gaugeCanvasSteem width="120" height="120"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanLast7DaysPayout" [rowspan]="rowspanLast7DaysPayout">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Last 7 days payout</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="card_content">
          <span> {{days_payout | reversePadZero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCurationRewards" [rowspan]="rowspanCurationRewards">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Curation rewards (7 days)</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
          <app-bar-chart-steem></app-bar-chart-steem>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanSocial" [rowspan]="rowspanSocial">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Stay updated on cur8 project , follow our social</mat-card-title>
        </mat-card-header><br>
        <mat-card-content class="card_content">
          <button mat-raised-button>Telegram</button>
          <button mat-raised-button>Discord</button>
          <button mat-raised-button>You Tube</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCur8News" [rowspan]="rowspanCur8News">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Best authors</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_contento" >
          @for( item of content; track $index){
            <div class="post">
              <div class="postContainer">
                <div class="post_image">
                  
                  <a href="{{item.url}}" target="_blank"><img src="{{item.imageUrl}}" alt="cur8 news" style="width: 100px; height: 100px;"></a>
                </div>
                <div class="post_header">
                  <span>{{item.title}}</span>
                </div>
              </div>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanRecentOperations" [rowspan]="rowspanRecentOperations+1">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Recent votes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content_special">
          <app-transazioni-cur8-steem></app-transazioni-cur8-steem>
        </mat-card-content>
      </mat-card>

 
    </mat-grid-tile>
  </mat-grid-list>
</div>