<div class="desktop">
  <mat-grid-list [cols]="gridCols" class="grid_list" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="colspanWelcome" [rowspan]="rowspanWelcome">
      <mat-card class="cardola-steem">
        <div class="header-container-hive-sup">
          <div class="header-container-hive">
            <div class="logo-container">
              <img src="assets/logo_tra.png" alt="cur8 logo" >
            </div>
            <div></div>
            <div class="title-container">
             Welcome to cur8.earn!
            </div>
          
            <div></div>
          <div class="logo-container">
            <img src="assets/steem_traspa_piccola.png" alt="steem logo" >
          </div>
              
        </div>
          <div class="bottom">
            To start earning daily income, delegate some Steem Power in the profile section.
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalSteemPower" [rowspan]="rowspanTotalSteemPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total cur8 STEEM power</mat-card-title>
        </mat-card-header><br><br><br>
        <mat-card-content class="card_content">
          <span> {{totalSteem | ranzaAllintero}} HP</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanTotalDelegators" [rowspan]="rowspanTotalDelegators">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Total delegators</mat-card-title>
        </mat-card-header><br><br><br>
        <mat-card-content class="card_content">
          <span> {{totalDelegators}}</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanAllTimePayOut" [rowspan]="rowspanAllTimePayOut">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">All time payout</mat-card-title>
        </mat-card-header>
        <br><br><br>
        <mat-card-content class="card_content">
          <span> {{allTimePayOut | ranzaAllintero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanVotingPower" [rowspan]="rowspanVotingPower">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Voting power</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;">
          <div class="gauge-container">
            <div class="canvas-container">
              <canvas #gaugeCanvasSteem width="180" height="180"></canvas>
            </div>
            <div class="mana-value-container">
              <!-- <div>{{manaPercentageSteem}}%</div> -->
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanLast7DaysPayout" [rowspan]="rowspanLast7DaysPayout">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Last 7 days payout</mat-card-title>
        </mat-card-header>
        <br><br><br>
        <mat-card-content class="card_content">
          <span> {{days_payout | ranzaAllintero}} $</span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCurationRewards" [rowspan]="rowspanCurationRewards">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Curation rewards (7 days)</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">
          <app-bar-chart-steem></app-bar-chart-steem>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanSocial" [rowspan]="rowspanSocial">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Stay updated on cur8 project , follow our social</mat-card-title>
        </mat-card-header><br><br><br>
        <mat-card-content class="card_content">
          <button mat-raised-button>Telegram</button>
          <button mat-raised-button>Discord</button>
          <button mat-raised-button>You Tube</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanCur8News" [rowspan]="rowspanCur8News">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Best authors</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_contento" >
          @for( item of content; track $index){
            <div class="post">
              <div class="postContainer">
                <div class="post_image">
                  
                  <a href="{{item.url}}" target="_blank"><img src="{{item.imageUrl}}" alt="cur8 news" style="width: 100px; height: 100px;"></a>
                </div>
                <div class="post_header">
                  <span>{{item.title}}</span>
                </div>
              </div>
            </div>
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="colspanRecentOperations" [rowspan]="rowspanRecentOperations+1">
      <mat-card class="card">
        <mat-card-header class="card_header">
          <mat-card-title class="card_title">Recent votes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content_special">
          <app-transazioni-cur8-steem></app-transazioni-cur8-steem>
        </mat-card-content>
      </mat-card>

 
    </mat-grid-tile>
  </mat-grid-list>
</div>