@use '@angular/material' as mat;

@include mat.core();
$dark-red-palette: mat.define-palette(mat.$red-palette, 700);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-red-palette,
      accent: mat.define-palette(mat.$blue-grey-palette),
        warn: mat.define-palette(mat.$amber-palette),
    ),
  )
);

// Define a light theme
$light-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
      warn: mat.define-palette(mat.$amber-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

// Apply the light theme when the document element attribute is changed to 'light'
:root[theme='light'] {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.all-component-themes($light-theme);
}

.custom-dialog {
  .mat-mdc-dialog-container {
    padding: 0;
    border-radius: 12px;
  }
  
  .mat-mdc-dialog-surface {
    border-radius: 12px;
    overflow: hidden;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

